.btn-blue {
	background-color: #ff914D;
	padding:15px 20px ;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-orange {
	background-color: #ff914D;
	padding:3px 30px ;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-align: center;

}